*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background: url(../imagenes/portada1.jpg);
    background-size: cover;
    background-attachment: fixed;
    font-family: Roboto;

}

.contenedor-form{
    position: relative;
    padding: 20px;
    margin: auto;
    background: rgba(0, 0, 0, .6);
    width: 400px;
    max-width: 500px;
    margin: 45px auto;
    color: #fff;
    border-radius: 4px;
    

}
/*****************GRID************************/
.contenedor {
	width: 90%;
	max-width: 1200px;
	margin: 20px auto;
	display: grid;
	grid-gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(4, auto);
	grid-template-areas:
		'header			header   	header'
		'contenido		contenido 	contenido';
}
/******************HEADER******************************************************/
.header {
	grid-area: header;
	padding: 1.875em;
    background: whitesmoke;
    background-size: cover;  
    background-attachment: fixed;
    background-position: center;
    background-size: cover;  
	box-shadow: 0px 0px 40px rgba(102, 102, 102, 0.2);
}


.contenedor-nav .titulo {
    text-decoration: none; 
    color: black;
}
.titulo p{
    font-size: 2.875em;
    text-align: center;
}


.enlace {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	display: flex;
	justify-content: space-between;
}

.enlace a {
	padding: 0.625em;
	color: #000;
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 200;
	width: 100%;
	text-align: center;
	transition: 0.2s ease all;
	font-size: 1em;
}

.enlace a:hover {
	background: #000;
	color: #fff;
}
/********************CONTENIDO************************************/
.contenido {
	grid-area: contenido;
}
/******************************FORMULARIO**********************************************/
.form--titulo
{
    background: rgba(11,194,211, 0.623);
    text-align: center;
    color: white;
    padding: 0.9375rem;
    font-weight: 100;
    font-size: 1.875rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: var(--espacios-contenido);
}

.contenedor-form h2{
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 2;

}
 .contenedor-form .elegir {
	color: #fff;
	cursor: pointer;
	display: inline-block;
	padding: 0.625rem; 
	background-color:  rgba(45, 163, 202, 0.45) ;
	font-size: 1em; 
    letter-spacing: 1px;
    text-decoration: none;
	
}
.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"]{
    outline: none;
    background: white;
    display: 10px 15px;
    width: 100%;
    padding: 10px 20px;
    color:black;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #ff851b ;
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    margin: 0 0 20px 0 ;
    transition: all .5s ease;

}
.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus{
border-bottom: 4px solid #0075d9;

}


.contenedor-form input[type="submit"],
.contenedor-form input[type="reset"]{
    background: #ff851b;
    color: #fff;
    border: none;
    width: 100%;
    padding: 10px 0;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s ease;
    margin-top: 5px;
}
.contenedor-form input[type="submit"]:hover,
.contenedor-form input[type="reset"]:hover
{
    background: rgba(0, 117, 118, 0.7);
    
}

p{
    display: block;
    margin-left: 20px;
margin-top: 30px;}


.contenedor-form .password-va{
    background:  rgba(0, 117, 118, 0.7);
    
    width: 100%;
    text-align: center;
    height: 35px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.contenedor-form .password-va a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    
    
}
/*.contenedor-form .toggle{
    float: left;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #ff851b;
    border-bottom: 2px solid #ff851b;
    transition: all .5s ease ;
    cursor: pointer;
}
.contenedor-form .toggle span{
   letter-spacing: 1px;
}
.contenedor-form .toggle:hover{
    border-top: 2px solid #0075d9;
    border-bottom: 2px solid #0075d9;

}*/
.btn-button{

  background: #ff851b;
    color: #fff;
    border: none;
    width: 200px;
    padding: 10px 0;
    font-weight: normal;
    letter-spacing: 1px;
    font-size: 16px;
    cursor: pointer;
    transition: all .5s ease;
    margin-top: 5px;
}
.btn-button:hover{
    background:  rgba(0, 117, 118, 0.7);}
.contenedor-form .formulario{
    padding: 5px;
    
}
.contenedor-form .formulario :nth-child(){
    display: block
}


@media (max-width: 682px)
{
    .enlace a {font-size: 14px;}

    .formulario
    {
        margin: auto;
        width: 500px;
        margin-top: 150px;
        border-radius: 2%;
    }  
}
@media (max-width: 576px)
{
	.header{
		text-align: center;
        width: 100%;
    }
    .enlace a {font-size: 11px;}
    b{font-size: 2.5rem;}
    P{ font-size: 1.125rem; }
	.articulo.destacado .contenedor-thumbnail {
		height: 14em;
		width: 36.3em;
	}
	body{
		font-size:12px ;
	}
}
